@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<h1>Welcome to  Index Page Content</h1>
<button>Click Me & Nothing will happen</button>

@section mysection1{
    <h1>This is content from Index for My Section 1</h1>
    <h2>Here is some more!!</h2>
}

<h1>ABCD</h1>