@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="User" asp-action="Login" class="btn btn-primary">Log in</a>
    <a asp-controller="User" asp-action="Create" class="btn btn-primary">Create Account</a>

</div>
